<div class="education-section">
    <h2>Education</h2>
    <div class="education-entry">
      <h3>Graduation</h3>
      <p>Degree: Bachelor of Computer Application</p>
      <p>College: Raisoni Group of Institutions</p>
      <p>Percentage: 77.76</p>
    </div>
    <div class="education-entry">
      <h3>Post Graduation</h3>
      <p>Degree: Master of Computer Application</p>
      <p>College: Shri Ramdeobaba College of Engineering and Management Nagpur</p>
      <p>CGPA: 8.23</p>
    </div>
  </div>
  