<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Aditi's Portfolio</title>
  
</head>
<body>
  <header>
    <nav>
      <a routerLink="/home" routerLinkActive="active">Home</a>
      <a routerLink="/about" routerLinkActive="active">About</a>
      <a routerLink="/linkedIn" routerLinkActive="active">linkedIn</a>
      <a routerLink="/education" routerLinkActive="active">Education</a>
      <a routerLink="/skills" routerLinkActive="active">Skills</a>
      <a routerLink="/projects" routerLinkActive="active">Projects</a>
      
    </nav>
  </header>

</body>
</html>
